# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vscode
*.idea
*.swp

# Build results
[Dd]ebug/
[Rr]elease/
[xX]64/
[xX]86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Ll]og/

# Rider
.idea/

# Node
node_modules/
.pnp/
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite
/dist/

# SQLite Database Files
*.db
*.db-shm
*.db-wal

# OS
.DS_Store
Thumbs.db
.vs/
Mockups/*
src/PointRealm.Server/Api/data/pointrealm.db
src/PointRealm.Server/Api/appsettings.Development.json
